.login-page {
 color:red; }
  .login-page .login-box {
    color:red; }
    .login-page .login-box .login-logo {
      color:red; }
      .login-page .login-box .login-logo a {
        color:red; }
        .login-page .login-box .login-logo a b {
          color:red; }
  .login-page .login-box-body {
    color:red; }
    .login-page .login-box-body .login-box-msg {
      color:red; }
    .login-page .login-box-body form {
      color:red; }
      .login-page .login-box-body form .form-group {
        color:red; }
        .login-page .login-box-body form .form-group input {
          color:red; }
        .login-page .login-box-body form .form-group .glyphicon {
          color:red; }
        .login-page .login-box-body form .form-group input + .glyphicon {
          color:red; }
      .login-page .login-box-body form .form-group + .form-group {
        color:red; }
      .login-page .login-box-body form .row {
        color:red; }
        .login-page .login-box-body form .row .col-xs-4 {
          color:red; }
          .login-page .login-box-body form .row .col-xs-4 button{
            color:red; }
  .login-page .login-box + .login-box-body {
    color:red; }
